<footer class="site-footer">
    <section class="copyright">
        Copyright &copy; 
        {{ if and (.Site.Params.footer.since) (ne .Site.Params.footer.since (int (now.Format "2006"))) }}
            {{ .Site.Params.footer.since }} - 
        {{ end }}
        {{ now.Format "2006" }} {{ default .Site.Title .Site.Copyright }}
    </section>
    
    <section class="powerby">
        {{/* 自定义文字内容（如果配置文件里有的话） */}}
        {{ with .Site.Params.footer.customText }}
            {{ . | safeHTML }} <br/>
        {{ end }}

        {{/* ICP 备案信息 */}}
        <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener">
            <span>	陕ICP备2022009196号-1</span>
        </a> | 

        {{/* 公安备案信息 */}}
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61010302000967" 
           target="_blank" rel="noopener">
            <span>陕公网安备61010302000967号</span>
        </a>
    </section>
</footer>
